.consultant-card {
  border: 1px solid #ddd; /* Hieman vaaleampi reunus */
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: #ffffff;
  width: 250px;
}

.consultant-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Lisää varjostusta hover-tilassa */
}

.consultant-card h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.consultant-card p {
  margin: 8px 0;
  font-size: 0.9em;
  color: #666;
}

.consultant-card strong {
  color: #333;
}
